{% extends "base.html" %}

{% block page_title %}Pythonメモ{% endblock %}

{% block article %}
    <!--大見出し-->
    <div class="top-content">
        <div class="container">
            <h1>Pythonメモ</h1>
            <h2>Pythonとは</h2>
            <p>Pythonはコードの記述が簡単で、読みやすく、だれでも簡単に始められる言語です。</p>
            <p>最近では、人口知能の話題でPythonの名前も出てくるようになり、また、統計学などの解析、WEBアプリ開発にも使われています。</p>
            <p>このサイトでは深く追求しませんが、様々なところで使われています。</p>
            <h2>このサイトについて</h2>
            <p>このサイトはPythonで開発するには必須となる様々なモジュールについてまとめていきます。</p>
            <p>これからPythonを始める方や、現在Pythonを使われている方で「このモジュールの○○関数の使い方忘れたな～」って人のお役に立てれば幸いです！</p>
            <p>また、ブログも並行して運営していきます。</p>
            <p>「Pythonで○○作ってみた」や「Pythonに関係する記事」に加えて、開発をしていく中で必要と思ったことを発信できたらと思います！</p>
        </div>
    </div>
{% endblock %}