{% extends "base.html" %}

{% block page_title %}Pythonメモ | メモ{% endblock %}

{% block article %}
    <!--大見出し-->
    <div class="top-content">
        <div class="container">
            <h1>メモ</h1>
            <p>モジュールとその使い方について解説</p>
        </div>
    </div>

    <!--目次-->
    <div class="index">
        <div class="container">
            <h3>目次</h3>
            <div class="index-content">
                <a class="index-link" href="#index1">モジュール</a>
                <a class="index-link" href="#index2">モジュール</a>
                <a class="index-link" href="#index3">モジュール</a>
                <a class="index-link" href="#index4">モジュール</a>
                <a class="index-link" href="#index5">モジュール</a>
            </div>
        </div>
    </div>

    <!--モジュールリスト表示-->
    {% for obj in object_list %}
        <div class="module-listView">
            <div class="container">
                <h2><a href="{{ obj.id }}">{{ obj.name }}</a></h2>
                <p>{{ obj.comment }}</p>
                <p>{{ argument.name }}</p>
            </div>
        </div>
    {% endfor %}



{% endblock %}